doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='author' content='Илья Государев')
		title Пользователи
		style.
			body {padding-top: 50px;}
		link(rel='stylesheet' href='https://kodaktor.ru/dist/css/bootstrap.min.css')
	body
		.container
			.header.clearfix
				h3.text-muted= usersTitle
			.jumbotron
				table.table.table-bordered
					thead
						tr
							th(scope='col') Login
							th(scope='col') Password
					tbody
						each user in users
							tr
								td= user.login
								td= user.password
			footer.footer
